body {
  color: #aaa;
  background-color: #444;
}

div.drinks {
  > * {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
  
    > ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 0;
  
      li {
        margin: 0.5em;
      }
    }  
  }

  
  > *.inactive {
    animation: leave 300ms forwards;
    opacity: 0;
  }

  > *.active {
    > h1 {
      animation: enter 300ms forwards;
      opacity: 0;
    }

    > h2 {
      animation: enter 300ms 150ms forwards;
      opacity: 0;
    }

    li {
      animation: enter 300ms forwards;
      opacity: 0;
    }

    @for $i from 1 through 15 {
      li:nth-child(#{$i}n) {
          animation-delay: #{250 + $i * 50}ms;
      }
    }

    img {
      opacity: 0;
      animation: enter 300ms 400ms forwards;
    }


  }
}

div.controls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > * {
    transition: all 300ms;
    padding: 1em;
    font-size: 180%;
    cursor: pointer;
  }

  > *:hover {
    transform: scale(1.4);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: rotate(30deg)
  }
  100% {
    opacity: 1;
  }
}

@keyframes leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg)
  }
}